<% if @reminder.errors.present? %>
	<ul>
		<% @reminder.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
<% end %>

<%= form_for @reminder do |f| %>
	<table>
		<tr>
			<td>Surat</td>
			<td>:</td>
			<td>
				<%= f.collection_select :surat_id, Surat.all, :id, :title %>
			</td>
		</tr>

		<tr>
			<td>Start Ayat</td>
			<td>:</td>
			<td>
				<%= f.collection_select :start_ayat_id, Ayat.all, :id, :message %>
			</td>
		</tr>

		<tr>
			<td>Start_at</td>
			<td>:</td>
			<td><%= f.time_select :start_at, default: DateTime.now %>
			</td>
		</tr>

		<tr>
			<td>Reminder_every</td>
			<td>:</td>
			<td><%= f.text_field :remind_every %> days</td>
		</tr>

		
		<tr>
			<td colspan='3'><%= f.submit %>
		</tr>

	</table>
<% end %>