<h1>Editing <%= @reminder.start_ayat %></h1>
<h1>Editing <%= @reminder.start_at %></h1>
<h1>Editing <%= @reminder.remind_every %></h1>
<h1>Editing <%= @reminder.start_before %></h1>
<%=render 'form' %>

<%= link_to 'cancel', reminds_path %>