<div class="row-fluid">
	<div id="banner">
		<div class="reminder">
				<% if @reminders.blank? %>
					<h2 style='color:blue;'>
						You don't have any reminder, do you want to create
						<%= link_to 'New Reminder ?', new_reminder_path, class: 'btn btn-primary'%>
					
					</h2>
				<% else %>

					<center>
						<h2>Your reminder Lists</h2>
					</center>
					
					<ol style='margin-bootom:50px;'>
						<% @reminders.each do |reminder| %>
						<li>
							<span>
							 Reading surat <%= link_to reminder.surat.title, surat_path(reminder.surat) %>
							</span>
							<span> 
								ayat <%= link_to reminder.ayat.message, ayat_path(reminder.ayat) %>
							</span>
							<span> 
								at <%= reminder.start_at.strftime('%d-%B-%Y %H:%M %p') %>
							</span>

							<span></br>
								<%= link_to 'Edit', edit_reminder_path(reminder), class: 'btn btn-warning' %>

								<%= link_to 'Remove', reminder_path(reminder), class: 'btn btn-danger', method: :delete %>
							</span>
						</li>
						<% end %>					
					</ol></br>


					<center>
						<%= link_to 'New Reminder', new_reminder_path, class: 'btn btn-primary', style: 'text-align: center' %>	<%= audio_tag '/assets/alert.ogg', autoplay: true %>
					</center>
				<% end %>
		</div>
	</div>
</div>




