<h1>
	<%= @reminder.start_ayat %>
</h1>

<p>
<%= @reminder.start_at %></h1>
</p>

<p>
<%= @reminder.reminder_every %></h1>
</p>

<p>
<%= @reminder.reminder_before %></h1>
</p>

<%= link_to 'Edit', edit_reminder_path(@reminder) %>



