<div class='row-fluid'>
	<div class='span3'>
			<div class='leftpicsur'>
				<%= image_tag '/assets/images.jpg' %>
			</div>
	</div>
	<div class='span9'>
		<div class='body'>
			<% if @surat.mp3file.present? %>
				<div>
					<audio controls>
					 <source src="<%= @surat.mp3file_url %>" type="audio/ogg">
					</audio>
				</div>
			<% end %>
			<h1><%= @surat.title %></h1>
						<% @ayats.each do |ayat| %>
						<%= image_tag ayat.image_url %>	
					<div class='margintext' >
						<%= ayat.message %>
					</div>
					<div class='clearer'></div>
				<% end %>
		</div>
	</div>
</div>


