<div class='row-fluid'>
	<div class='span3'>
			<div class='leftpicsur'>
				<%= image_tag '/assets/si.jpg' %>
			</div>
	</div>
	<div class='span9'>
		<div class='body'>
			<% if @surat.mp3file.present? %>
				<div>
					<audio controls>
					 <source src="<%= @surat.mp3file_url %>" type="audio/ogg">
					</audio>
				</div>
			<% end %>
			<center><h1><%= @surat.title %></h1></center>

			<% if session[:user_reading].blank? %>
			<div class='color-log' style='margin-left: 20px;'>				
				<%= link_to 'Start Reading', 
						reading_histories_path(reading_history: { start_ayat_id: @surat.ayats.first} ), method: :post, 
						class: 'btn btn-small btn-primary' %>
						
						

			</div>
			<% else %>
				<p>You are reading <%= ReadingHistory.find(session[:reading_history]).start_ayat.surat.name %></p>
 			<% end -%>
						<% @ayats.each do |ayat| %>
						<%= image_tag ayat.image_url %>	
					<div class='margintext' >
						<%= ayat.message %>
						<%= ayat.insert_ayat %>
					</div>
					<div class='clearer'></div>
				<% end %>
				
		</div>
	</div>
</div>



