<div class='row-fluid'>
	<div class='span3'>
			<div class='leftpicsur'>
				<%= image_tag '/assets/si.jpg' %>
			</div>
	</div>
	<div class='span9'>
		<div class='body'>
			<% if @surat.mp3file.present? %>
				<div>
					<audio controls>
					 <source src="<%= @surat.mp3file_url %>" type="audio/ogg">
					</audio>
				</div>
			<% end %>
			<center><h1><%= @surat.title %></h1></center>
			<div class='color-log' style='margin-left: 20px;'>
				<%= link_to 'Start Reading', ayat_path(@surat.ayats.first), class: 'btn btn-small btn-primary' %>
			</div>
						<% @ayats.each do |ayat| %>
						<%= image_tag ayat.image_url %>	
					<div class='margintext' >
						<%= ayat.message %>
						<%= ayat.insert_ayat %>
					</div>
					<div class='clearer'></div>
				<% end %>
		</div>
	</div>
</div>


