<% if @ayat.errors.present? %>
	<ul>
		<% @ayat.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
<% end %>

<%= form_for(@ayat, html: { multipart: true }) do |f| %>
	<table>
		<tr>
			<td>Number</td>
			<td>:</td>
			<td></td>
			<td><%= f.text_field :number %></td>
		</tr>

		<tr>
			<td>Insert Ayat</td>
			<td>:</td>
			<td></td>
			<td><%= f.text_field :insert_ayat %></td>
		</tr>

		<tr>
			<td>Message</td>
			<td>:</td>
			<td></td>
			<td><%= f.text_field :message %></td>
		</tr>

		<tr>
			<td>Surat</td>
			<td>:</td>
			<td></td>
			<td><%= f.collection_select :surats_id, Surat.all, :id, :title %></td>
		</tr>

		<tr>
			<td>Mp3file</td>
			<td>:</td>
			<td></td>
			<td><%= f.file_field :mp3file %></td>
		</tr>
		<tr>
			<td>Image</td>
			<td>:</td>
			<td></td>
			<td><%= f.file_field :image %></td>
		</tr>
		<tr>
			<td colspan='3'><%= f.submit %>
		</tr>


	</table>
<% end %>