<div class='row-fluid'>
	<div class='pageayat'>
			<h1><%= @ayat.number %></h1>
			<h1><%= @ayat.insert_ayat %></h1>

			<p>
			 <%= @ayat.message %>
			</p>
			<p>
			 <%= @ayat.mp3file_url %>
			</p>

			<p>
				<% if @ayat.prev %>
					<%= link_to 'Prev', ayat_path(@ayat.prev) %> 
				<% end %>

			 	<%= image_tag @ayat.image_url %>

			 	<% if @ayat.next %>
			 		<%= link_to 'Next', ayat_path(@ayat.next) %> 
			 	<% end %>

			</p>

			<%= link_to 'Edit', edit_ayat_path(@ayat) %>
			<div>
				<% if session[:user_reading] %>
					<%= link_to 'Stop Reading', 
						reading_history_path(session[:reading_history_id], { reading_history: { end_ayat_id: @ayat.id}}),
						method: :put, class: 'color-log btn btn-small btn-primary'
					%>
				<% end -%>
			</div>
	</div>
</div>



